.logo {
    max-width: rem(200px);
    /* color: rgb(174, 28, 63); */

    @media (max-width: $mantine-breakpoint-xl) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.description {
    margin-top: rem(5px);
/* color: rgb(174, 28, 63) !important; */
/* font-size: 14px; */
    @media (max-width: $mantine-breakpoint-xl) {
        margin-top: var(--mantine-spacing-xs);
        text-align: center;
    }
}

.inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mantine-breakpoint-xl) {
        flex-direction: column;
        align-items: center;
    }
}